.nav{

    height: 400px;
    background-image: url(../images/logo.png);
    background-position: top center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: auto;
    position: relative;
    z-index: 2;

}


.nav_wrapper {
    height: 80px;
    background: transparent;
    background-position: top center;
    margin-top: 120px;
    opacity: 1;
    filter:alpha(opacity=70); /* IE8   */
    position: relative;
    overflow: hidden;
    width: 100%;
}
.nav_wrapper ul  {
    position: absolute;
    top: 50%;
    width: 95%;
    text-align: center;
}
.nav_wrapper ul li {
    position: relative;
    list-style: nome;
    display: inline;
    font-weight: bold;
    opacity: 1;
    padding: 15px;
    margin-top:10px;
}
.nav_wrapper a{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    margin-top: 100px;
    padding: 12px;
}
.nav_wrapper a:hover{
    background: black;
    color: white;
    transition: all 0.45s;
    opacity: 0.9;
    filter:alpha(opacity=90); /* IE8   */
}
.footer{
    background: black;
    color: white;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-stuff{
    text-align : center;
    margin-bottom: auto;
    margin-right: 0;
    max-width: 100%;
}
.footer a{
    color: white;
}
.container-fluid{
    position: relative;
    z-index: 2;
    background: white;
    margin-bottom: 115px;
}
